# Project exclude paths
/HelloWorld/target/
/tutorials-lesson3/target/
/tutorials-lesson4/target/
/tutorials-lesson5/target/
/tutorials-lesson6/target/
/tutorials-lesson7/target/
/tutorials-lesson8/target/